<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KICS BOT</title>

    
    <link rel="stylesheet" href="{% static 'botapp/css/chat.css'%}">

    <link rel="stylesheet" href="{% static 'botapp/css/home.css'%}">

    <link rel="stylesheet" href="{% static 'botapp/css/style.css'%}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>

    <div class="sp-container">
        <div class="sp-content">
          <div class="sp-globe"></div>
          <h2 class="frame-1">Welcome To</h2>
          <h2 class="frame-2">KICS BOT</h2>
          <h2 class="frame-3">Let's Talk</h2>
          <h2 class="frame-4">with</h2>
          <h2 class="frame-5">
            <span>Our</span>
            <span>Bot!</span>
            <span>Created</span>
          </h2>
          <a class="sp-circle-link" target="_blank" href="https://www.kics.edu.pk/labs/about/dsl">by DSL</a>
        </div>
      </div>



    <!-- CHAT BAR BLOCK -->
    <div class="chat-bar-collapsible">
        <button id="chat-button" type="button" class="collapsible">Chat with KICS Bot!
            <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
        </button>

        <div class="content">
            <div class="full-chat-block">
                <!-- Message Container -->
                <div class="outer-container">
                    <div class="chat-container">
                        <!-- Messages -->
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>

                        <!-- User input box -->
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg"
                                    placeholder="Tap 'Enter' to send a message">
                                <p></p>
                            </div>

                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                    onclick="sendButton()"></i>
                            </div>
                        </div>

                        <div id="chat-bar-bottom">
                            <p>Developed by DSL.</p>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


    <script>
        const spans = document.querySelectorAll('.word span');

spans.forEach((span, idx) => {
  span.addEventListener('click', (e) => {
    e.target.classList.add('active');
  });
  span.addEventListener('animationend', (e) => {
    e.target.classList.remove('active');
  });

  // Initial animation
  setTimeout(() => {
    span.classList.add('active');
  }, 750 * (idx+1))
});
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="{% static 'botapp/scripts/responses.js'%}"></script>

    <script src="{% static 'botapp/scripts/chat.js'%}"></script>

</body>

</html>